.portfolio
  display flex
  flex-direction column
  padding 25px 0 5px
  background-color #1c1c1c

  .portfolio-title
    display none
    align-self center
    margin 5px 0 15px
    font-size 2em
    font-weight 300
    color #ccc

  .portfolio-slider
    display flex
    flex-wrap wrap