.blog
  display flex
  flex-direction column
  align-items center
  justify-content center
  padding 50px 0 30px
  background-image url(/assets/img/home/mountain.jpg)
  background-size cover
  background-repeat no-repeat
  background-attachment fixed

  h1.blog-header
    visibility hidden
    padding-bottom 15px
    font-size 2em
    font-weight 300
    color #e1e1e1
  
  article.blog-post
    visibility hidden
    display flex
    justify-content center

    &:hover
      .blog-container
        background-color #f1f5ff
        box-shadow 0 0 0 6px #f1f5ff, 0 0 12px 4px #999
        
        transition .2s

        .blog-picture-container
          box-shadow 0 0 2px #aaa, 0 0 6px #d5d5d5
  
    .blog-container
      display flex
      width 700px
      padding 25px 15px
      background-color rgba(255, 255, 255, .8)

      .blog-picture-container
        display inline
        float left
        height 100px
        width 100px
        margin-right 25px
        padding 5px
        background-color white
        border 1px solid #d5d5d5
        border-radius 3px
    
        a.blog-picture
          display block
          height 100px
          width 100px
          background-size cover
          background-repeat no-repeat
    
      .blog-content
        color #444
        
        a.blog-title
          h1
            margin-bottom 8px
            font-size 1.3em
            font-weight 400
    
  .blog-divider
    width 700px
    margin 0px
    padding 0px
    border none
    border-top 1px solid transparent