header
  z-index 1
  position fixed
  height 36px
  width 100%
  transition-duration height .1s

  &:hover
    background-color #222
    box-shadow 2px 2px 5px #1c1c1c

    .logo
      color #e1e1e1
      background-color #c04443
      box-shadow 3px 3px 5px #333

.left
  left 0

.right
  right 0

.logo
  position fixed
  padding 2px 5px
  font-size 2em
  font-weight 300
  color #e1e1e1

.main-nav
  z-index 2
  position fixed
  
  ul.nav-links
    display flex
    
    li

      .nav-color
        height 7px
        margin-bottom 6px
        background-color #e1e1e1
        border-right 1px solid #bbb

      .nav-highlight
        background-color #c04443

      .current-nav
        background-color #c04443
            
      .nav-link
        visibility hidden
        padding 8px 8px 6px 8px
        padding-bottom 4px
        color #e5e5e5

        &:hover
          visibility visible
          background-color #c04443