@import '0-lib/animate';

@import '1-base/fonts';
@import '1-base/foundation';

@import '2-modules/header';
@import '2-modules/cards';

@import '3-sections/companies';
@import '3-sections/contact';
@import '3-sections/home-articles';
@import '3-sections/home-bio';
@import '3-sections/home-companies';
@import '3-sections/home-parallax';
@import '3-sections/portfolio';
@import '3-sections/posts';
