.article-page
  display flex
  justify-content center
  min-height calc(100vh - 80px)
  width 100%
  background-color white

  .article
    width 700px
    margin-top 60px

    header.article-header
      margin-bottom 15px
      
      h1.article-title
        text-align center
        font-size 2.5em
        font-weight 300

        &.note
          display flex
          padding 7px
          background-color palegoldenrod
          border 1px solid burlywood
          line-height 1.5
          color #555

    .article-hero
      display block
      justify-content center
      height 300px
      width 100%
      margin 0 0 5px
      background-size cover
      background-position top center
      background-repeat no-repeat
      border-radius 10px

      &.Tools
        background-size contain
        background-position top left
        background-repeat repeat

      &.Process
        background-size contain
        background-position center
        background-repeat repeat        
        
    .article-content
      width 100%

      table.tools
        width 100%

        tbody
          tr
            display flex
            justify-content space-around
            margin-bottom 50px

            th
              width 100%
              background-color #e1e1e1
              margin-bottom 10px
              padding 10px 0
              font-size 1.1em
              font-weight 500
              color #555
              border 1px solid #d6d6d6
              border-radius 3px

            td
              display flex
              flex-direction column
              align-items center
              width 33%
              margin-top -50px

              &:hover
                img
                  opacity 1
                  filter grayscale(0) drop-shadow(0 2px 1px #999)
                  
              img
                height 75px
                width 75px
                opacity .7
                filter grayscale(1)
                transition .4s

              p
                margin 10px 0
                color #555