.article-page
  display flex
  justify-content center
  height calc(100vh - 80px)
  width 100%
  background-color white

  .article
    width 700px
    margin-top 60px

    header.article-header
      margin-bottom 15px
      
      h1.article-title
        text-align center
        font-size 2.5em
        font-weight 300

    .article-hero
      display block
      justify-content center
      height 300px
      width 100%
      margin 0 0 25px
      background-size cover
      background-position top center
      background-repeat no-repeat
        
    .article-content
      width 80%