section.portfolio#portfolio
  .portfolio-title portfolio        
  .slider
    // Iterate through portfolio posts to display up to 7 cards
    |{% for post in site.categories.portfolio limit: 7 %}
    .container
      .card
        .flipper
          .front
            a(href="{{post.url}}" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})").link
          a(href="{{post.url}}").back
            .cap
              h3.head {{post.title}}
              hr
              .desc {{post.excerpt}}
              hr
              button.button More
    |{% endfor %}
    
    // The last card will always show a link to the blog
    .container
      .portfolio-link
        a(href="/portfolio") more