section.contact#contact
  .social-row
    h2.head contact me
    a(href="" style="background-image: url(assets/img/home/social/linkedin.png)").linkedin.link
    a(href="" style="background-image: url(assets/img/home/social/skype.png)").skype.link
    a(href="" style="background-image: url(assets/img/home/social/email.png)").email.link
