section.contact#contact
  .social-row
    a(href="").link.upwork
      img(src="assets/img/contact/upwork.png")
      .contact-caption Upwork
    a(href="").link.linkedin
      img(src="assets/img/contact/linkedin.png")
      .contact-caption LinkedIn
    a(href="").link.skype
      img(src="assets/img/contact/skype.png")
      .contact-caption Skype
    a(href="").link.email
      img(src="assets/img/contact/email.png")
      .contact-caption Email
