.companies-title case studies
.companies-slider
  // Iterate through all companies posts
  |{% for post in site.categories.companies %}
  .companies-container
    .companies-card
      a(class="companies-picture {{post.title}}" href="{{post.url}}" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})")
      .companies-content
        .companies-name {{post.title}}
        .companies-description {{post.excerpt}}
        a(class="companies-link" href="{{post.url}}") more
  |{% endfor %}
