section.portfolio#home-portfolio
  .portfolio-title portfolio
  .portfolio-slider
    // Iterate through portfolio posts to display up to 7 cards
    |{% for post in site.categories.portfolio reversed limit: 7 %}
    .portfolio-container
      .portfolio-card
        .portfolio-flipper
          .portfolio-front
            a(class="portfolio-link" href="{{post.url}}.html" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})")
          a(class="portfolio-back" href="{{post.url}}.html")
             .portfolio-cap
               h3.portfolio-head {{post.title}}
               hr.portfolio-divider
               .portfolio-description {{post.excerpt}}
               hr.portfolio-divider
               button.portfolio-button More
    |{% endfor %}
    
    // The last card will always show a link to the blog
    .portfolio-container
      a(class="portfolio-link portfolio-more" href="/portfolio.html") see more