article.portfolio#portfolio
  .portfolio-title portfolio
  .portfolio-slider
    // Iterate through all portfolio posts
    |{% for post in site.categories.portfolio reversed %}
    .portfolio-container
      .portfolio-card
        .portfolio-flipper
          .portfolio-front
            h3.portfolio-head {{post.title}}
            a(class="portfolio-link {{post.title}}" href="{{post.url}}" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})")
          a(class="portfolio-back" href="{{post.url}}")
            .portfolio-cap
              h3.portfolio-head {{post.title}}
              hr.portfolio-divider
              .portfolio-description {{post.excerpt}}
              hr.portfolio-divider
              button.portfolio-button More
    |{% endfor %}
