article(class="blog-post" id="{{post.title}}")
  .blog-container
    .blog-picture-container
      a(class="blog-picture" href="{{post.url}}.html" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})")
    .blog-content
      a(class="blog-title" href="{{post.url}}.html")
        h1(class="{{post.title}}") {{post.title}}
      p.blog-description {{post.excerpt}}
hr.blog-divider
